.container{
  height: 100vh;
  width: 100%;
  background-image: url('Untitled.tiff');
  background-position: center;
  background-size: cover;
  position: relative;
}
.a{
  background-color: #D9D7F1;
}
.b{
  margin: 0;
  font-size: 50px;
  font-weight: 100;
  color: #610094;
  padding-left: 50px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}
body{
  margin: 0;
}
hr{
  border: 0;
  margin: 0;
  height: 3px;
  background-color: #610094;
}
body{
  margin: 0;
  padding: 0;
  font-family: montserrat;
  height: 100vh;
  overflow:hidden;
}
.center{
  position: absolute;
  top: 50%;
  left:30%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: #916BBF;
  border-radius: 0px 50px;
  color: white;
}
.center h1{
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
  font-family: 'Quicksand' ,sans-serif;
  font-weight: 200;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_feild{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_feild input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  color: #1C0C5B;
  border: none;
  outline: none;
}
.txt_feild label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-80%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_feild span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0px;
  width: 0%;
  height: 2px;
  background: #1C0C5B;
  transition: .5s;
}
.txt_feild input:focus ~ label,
.txt_feild input:valid ~ label{
  top: -5px;
  color: #1C0C5B;
}
.txt_feild input:focus ~ before,
.txt_feild input:valid ~ before{
  width: 100%;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #D9D7F1;
  border-radius: 25px;
  font-size: 18px;
  color:white;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color: #3D2C8D;
  transition: .5s;
}
.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: white;
}
.signup_link:hover{
  background-color: #1C0C5B;
}
.signup_link a{
  color: #1C0C5B;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}
